@media screen and (max-width:2000px){
  .mobilehead{
    display: none;
  }
  
}
@media screen and (max-width: 1360px) {
  .contactrightside {
    width: 50%;
  }
  .mobilehead{
    display: none;
  }
}
@media screen and (max-width: 811px) {
  .mobilehead {
    display: none;
  }
  
  
}

@media screen and (max-width: 756px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  .mobilehead {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: block;
  }
  .headerpart{
    display: none;
  }

  .right-mainpart {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    /* height: 800vh; */
  }

  .second-mainpart {
    position: relative;
    font-size: 17px;
    margin-bottom: 2rem;
  }

  .right-mainpart img {
    width: auto;
    border-radius: 50%;
  }

  .aboutpart {
    position: relative;
    font-size: 13px;
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
  }
  .aboutme-head {
    margin: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
  }

  .aboutmecontainer {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 3rem;
  }
  .aboutpart-right .intro-body {
    text-align: center;
  }

  .SandE {
    font-size: 14px;
  }
  .edu {
    font-size: 20px;
    /* margin: auto; */
    margin: auto;
    margin-left: -0.7rem;
  }

  .eduandskills {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .skill-box{
    height: 100%;
    margin-bottom: 15rem;
  }
  .edu-skills{
    height: 100%;
  }
  .skill-box h3 {
    text-align: center;
    margin-top: 2rem;
  }

  .educationbar {
    width: auto;
    height: 100%;
  }

  .projectpart {
    font-size: 15px;
    margin: 0;
    margin-top: 3rem;
  }
  .project-head {
    font-size: 20px;
    margin: auto;
    margin-left: -0.7rem;
  }
  .contactme {
    margin: 0;
  }

  .contact-head {
    font-size: 20px;
    margin: auto;
    margin-left: -0.7rem;
  }
   .contactdivide {
    display: flex;
    flex-wrap: wrap;
  }
  .leftcontactside {
    margin-bottom: 3rem;
    height: 25rem;
  }
  .contactrightside {
    height: 100%;
    width: 100%;
    margin-bottom: 3rem;
  }
  .contactform {
    width: 15rem;
  }
  .socialmedia {
    flex-direction: column;
  }

}
@media screen and (max-width:400px) {
  .projectpart{
    margin-top: 8rem;
    height: 100%;
  }
  .edu-skills{
    height: 100%;
margin-bottom: 2rem;
  }
}