@import "tailwindcss";

/* Utility to hide native scrollbar while keeping horizontal scroll */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}